<?xml version="1.0" encoding="windows-1254"?>
<configuration>
  <configSections>
    
	  <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <specFlow>
    <!--<language feature="en-US" tool="{not-specified}" />-->
    <language feature="en-US" tool="{not-specified}" />
    <bindingCulture name="tr" />
    
    <generator allowDebugGeneratedFiles="false" allowRowTests="true" generateAsyncTests="false" path="{not-specified}" />
    <runtime stopAtFirstError="false" missingOrPendingStepsOutcome="Inconclusive" />
    <trace traceSuccessfulSteps="true" traceTimings="false" minTracedDuration="0:0:0.1" stepDefinitionSkeletonStyle="RegexAttribute" />
    <stepAssemblies>
      <!-- <stepAssembly assembly="{name-of-assembly-containing-bindings}" /> -->
    </stepAssemblies>
    <plugins>
      <!-- <add name="{plugin-name}" /> -->
    </plugins>
  </specFlow>
  
  <connectionStrings>
    <add name="DBCOREPR"
    connectionString="Data Source=(DESCRIPTION =
    (ADDRESS_LIST =
      (ADDRESS = (PROTOCOL = TCP)(HOST = oradb02.test.biab)(PORT = 4521))
    )
    (CONNECT_DATA =
      (SERVICE_NAME = DBCOREPR)
    )
  );User Id=testotomasyon;Password=Rfs434ft;"
    providerName="Oracle.DataAccess.Client"/>
  
    
    <!--#########-->
    <add name="{DBLOANPR}"
    connectionString="Data Source=(DESCRIPTION =
    (ADDRESS_LIST =
      (ADDRESS = (PROTOCOL = TCP)(HOST = oradb02.test.biab)(PORT = 4521))
    )
    (CONNECT_DATA =
      (SERVICE_NAME = DBLOANPR)
    )
  );User Id=testotomasyon;Password=Rfs434ft;"
    providerName="Oracle.DataAccess.Client"/>
    
    
    <!--#########-->
    <add name="{DBTKART}"
    connectionString="Data Source=(DESCRIPTION =
    (ADDRESS_LIST =
      (ADDRESS = (PROTOCOL = TCP)(HOST = oradb02.test.biab)(PORT = 4521))
    )
    (CONNECT_DATA =
      (SERVICE_NAME = DBTKART)
    )
  );User Id=testotomasyon;Password=Rfs434ft;"
    providerName="Oracle.DataAccess.Client"/>
    
    
    <!--#########-->
    <add name="{KRDKART}"
    connectionString="Data Source=(DESCRIPTION =
    (ADDRESS_LIST =
      (ADDRESS = (PROTOCOL = TCP)(HOST = oradb02.test.biab)(PORT = 4521))
    )
    (CONNECT_DATA =
      (SERVICE_NAME = KRDKART)
    )
  );User Id=testotomasyon;Password=Rfs434ft;"
    providerName="Oracle.DataAccess.Client"/>
  </connectionStrings>
  
</configuration>